<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/base.css">
    <!--Incluir favicon-->
    <title>Nutrindo o futuro</title>
</head>
    
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="entradas.html">Entrada</a></li>
                <li><a href="saidas.html">Saída</a></li>
                <li><a href="estoque.html">Estoque</a></li>
                <li><a href="cadastro.html">Cadastro</a></li>
                <li><a href="sair">Sair</a></li>
            </ul>
        </nav>
    </header>
    <main></main>
    
    {% block conteudo %}
    {% endblock %}

</body>
</html>