{% extends 'base.html' %}

    {% block conteudo %}

    <h1>Estoque</h1>

    <table >
        <tr>
            <th>Cód</th>
            <th>Produto</th>
            <th>Unidade</th>
            <th>Peso/Un(kg)</th>
            <th>Qtd</th>
            <th>Lote</th>
            <th>Validade</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Arroz</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </table>

    {% endblock %}