{% extends 'index.html' %}
    {% block conteudo %}
        <form class="c-form" action="{{ url_for('produto.inserir_produto') }}" method="POST" c-append="#lista-produtos">
            <div class="mb-3">
                <label class="form-label">Produto</label>
                <input type='text' class="form-control" name="Produto">
            </div>
            
            <div class="mb-3">
                <label class="form-label">Qtd</label>
                <input type="text" class="form-control" name="Qtd">
            </div>
            
            <div class="mb-3">
                <label class="form-label">Peso</label>
                <input type="text" class="form-control" name="Peso">
            </div>
            
            <div class="mb-3">
                <label class="form-label">Lote:</label>
                <input type='text' class="form-control" name="Lote">
            </div>
                <label class="form-label">Validade Lote</label>
                <input type='text' class="form-control" name="Validade">

            <p class="buttons">
                <button type="submit">Cadastrar</button>
                <button type="button">Voltar/Cancelar</button>
            </p>
        </form>
    {% endblock %}

</form>