<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Nutrindo o futuro</h1>

    {% set menssagem = get_flashed_messages() %}
    {% if menssagem %}
        <div class="flash_alerta">
            {{menssagem[0]}}
        </div>
    {% endif %}
    
    <form action="/autenticar" method="post" c-reaload-conteiner="true">
        <label for="usuario-lb">Usuario</label>
        <input type="text" name="usuario">
        <label for="senha-lb">Senha</label>
        <input type="password" name="senha">
        <button type="submit">Logar</button>
    </form>

</body>
</html>
